<div>
  <div class="mb-3">
  <button type="button" class="btn filter-btn btn-block mb-3" (click)="showFilter = !showFilter"
          [attr.aria-expanded]="showFilter" aria-controls="filterPanel">
    <ng-template [ngIf]="!showFilter" [ngIfElse]="collapseArrow"> <fa-icon [icon]="faChevronDown"></fa-icon></ng-template>
    <ng-template #collapseArrow><fa-icon [icon]="faChevronUp"></fa-icon></ng-template>
    Filter
  </button>
  <div id="filterPanel" [ngbCollapse]="!showFilter">
    <h6>Filter by Tag</h6>
    <ul class="tag-btn-list list-unstyled">
      <li *ngFor="let tag of getTagList()"><button type="button" class="btn btn-primary btn-tag mx-1 btn-sm"
                                                   [ngClass]="{'btn-tag-active': tagIsActive(tag[0])}" (click)="filterByTag(tag[0])">
        {{ tag[0] }} <span class="badge badge-light">{{ tag[1] }}</span>
      </button></li>
    </ul>
  </div>
  </div>
  <app-article-list [articles]="articles" [errorMsg]="errorMsg"></app-article-list>
</div>
