<footer class="footer pt-3 mt-5 border-top">
<div class="container">
  <p class="text-center footer-text">
    <a class="mx-2" href="https://github.com/georgiastuart" title="GitHub"><fa-icon [icon]="faGithub"></fa-icon></a>
    <a class="mx-2" href="https://www.linkedin.com/in/georgiastuart/" title="LinkedIn"><fa-icon [icon]="faLinkedin"></fa-icon></a>
    <a class="mx-2" href="https://twitter.com/mathgeorgia" title="Twitter"><fa-icon [icon]="faTwitter"></fa-icon></a>
    <a class="mx-2" href="https://scholar.google.com/citations?user=GsKQf-YAAAAJ&hl=en" title="Google Scholar"><fa-icon [icon]="faGraduationCap"></fa-icon></a>
  </p>
</div>
</footer>
