<div class="row">
  <div class="col-md-3">
    <div class="container">
      <picture>
        <source type="image/webp" srcset="{{ picture }}.webp"/>
        <img src="{{ picture }}.png" class="rounded d-block img-thumbnail rounded" alt="Georgia with her husband and dog">
      </picture>
    </div>
  </div>
  <div class="col-md-9">
    <h2>About Georgia Stuart</h2>
    I'm a Ph.D. candidate in Applied Mathematics at the University of Texas at Dallas and a teaching associate in the
    Science and Mathematics Education Department. I research uncertainty quantification for seismic inversion and teach
    K-12 teachers math and computer science.
    <br><br>

  </div>
</div>
