<div class="container">
  <picture>
    <source type="image/webp" srcset="{{ georgiaHeadshot }}.webp"/>
    <img src="{{ georgiaHeadshot }}.png" class="rounded mx-auto d-block p-2 pt-3 rounded-circle" alt="Georgia Stuart">
  </picture>
</div>

<div id="navbarPlaceholder" [style.height.px]="navHeight"></div>
<nav #navbar class="navbar-ce navbar navbar-expand-lg navbar-light mb-3" (scroll)="onWindowScroll($event)">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Georgia Stuart</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="isDevMode()">
          <a (click)="isCollapsed = !isCollapsed" class="nav-link mx-2" routerLink="/about/" routerLinkActive="nav-link-active">About</a>
        </li>
        <li class="nav-item">
          <a (click)="isCollapsed = !isCollapsed" class="nav-link mx-2" routerLink="/publications/" routerLinkActive="nav-link-active">Publications</a>
        </li>
        <li class="nav-item">
          <a (click)="isCollapsed = !isCollapsed" class="nav-link mx-2" routerLink="/teaching/" routerLinkActive="nav-link-active">Teaching</a>
        </li>
        <li class="nav-item" *ngIf="isDevMode()">
          <a (click)="isCollapsed = !isCollapsed" class="nav-link mx-2" routerLink="/blog/" routerLinkActive="nav-link-active">Blog</a>
        </li>
        <!--<li class="nav-item">-->
          <!--<a (click)="isCollapsed = !isCollapsed" class="nav-link mx-2" routerLink="/contact/" routerLinkActive="nav-link-active">Contact Me</a>-->
        <!--</li>-->
      </ul>
    </div>
  </div>
</nav>

