<div class="text-center" *ngIf="loading; else errorCheck">
  <i class="fas fa-spinner fa-spin fa-3x fa-fw"></i>
</div>

<ng-template #errorCheck>
  <div class="text-center" *ngIf="error; else articleText">
    {{ errorMsg }}
  </div>
</ng-template>

<ng-template #articleText>
  <h1 class="blog-post-title">{{ article.title }}</h1>
  <div class="blog-date mb-3">{{ moment(article.publishedAt).fromNow()}}
    on {{ moment(article.publishedAt).format('dddd, MMMM Do, YYYY') }}
    <ol class="tag-list list-unstyled">
      <li *ngFor="let tag of article.tags" class="tag-item"><a routerLink="/blog"
                                                               [queryParams]="{tags: tag}">{{ tag }}</a></li>
    </ol>
  </div>
  <div class="blog-post-md">
    <ngx-md>{{ article.text }}</ngx-md>
  </div>
</ng-template>

<disqus [identifier]="slug" [url]="url"></disqus>
