/* You can add global styles to this file, and also import other style files */

@import "variables";

@import "~bootstrap/scss/bootstrap";
@import "~prismjs/themes/prism-solarizedlight.css";

.blog-tags {
  color: $gray-500
}

.tag-list {
  display: flex;
  list-style: none;

  &::before {
    content: '\f02b';
    font: normal normal normal 1rem/1.5 FontAwesome;
    margin-right: 0.5rem;
    vertical-align: middle
  }

  .tag-item {
    &+.tag-item::before {
      content: ', '
    }
  }
}
